<div
  class="form-field"
  [class.form-field--focused]="isFocused() || this.selectComponent()?.isOpen()"
  [class.form-field--has-value]="isFocused() || isHasValue()"
  [class.form-field--disabled]="isDisabled()"
  [class.form-field--no-label]="!labelComponent()"
  [class.form-field--input]="inputDirective()"
  [class.form-field--textarea]="isTextarea()"
  [class.form-field--select]="selectComponent()"
  [class]="controlClasses"
  (click)="onFormFieldClick()"
  #formFieldElement
>
  <ng-content select="[form-field-prefix]" />
  <div class="form-field__wrap">
    @if (labelComponent()) {
      <label for="{{ inputId() }}" class="form-field__label">
        <ng-content select="app-form-field-label" />
        @if (isRequired()) {
          <span class="form-field__required">*</span>
        }
      </label>
    }
    <ng-content select="[input]" />
    <ng-content select="app-select" />
  </div>
  <ng-content select="[form-field-suffix]" />
</div>
@if (!errorComponent()) {
  <ng-content select="app-form-field-hint" />
}
<ng-content select="app-form-field-error" />
